head
	title= pageTitle
	block head
		link(href='http://fonts.googleapis.com/css?family=Questrial|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
body
	block content
