extends layout

block head
	link(rel="stylesheet", href="styles/style.css")

block content
	h1 Login
	h3#message Please Login
	label(for='identity') Login
	input(id='identityField', name='identity', value='kubekhrm@gmail.com')
	label(for='password') Password
	input(id='passwordField', name='password', type='password', value='Skkddkhrome2k3.11N')
	button(onClick='submitLogin()')
