extends layout

block head
	link(rel="stylesheet", href="styles/style.css")

block content
	h1 Login
	h3#message Please Login
	form#loginForm(action='return false;', onsubmit='return false;')
		label(for='identity') Login
		input(id='identityField', name='identity', value='bir.geoffrey@gmail.com')
		label(for='password') Password
		input(id='passwordField', name='password', type='password', value='')
		button(type='submit')
	h1.logotext RemoteNation
	img(src='./images/logo.png')
