extends layout

block head
	link(rel="stylesheet", href="styles/style.css")
	link(rel="stylesheet", href="styles/login.css")

block content
	include header
	div#content
		form#loginForm(action='return false;', onsubmit='return false;')
			label(for='identity') Login
			br
			input(id='identityField', name='identity', type='text', value='bir.geoffrey@gmail.com')
			br
			label(for='password') Password
			br
			input(id='passwordField', name='password', type='password', value='')
			br
			button(type='submit') Login
