extends layout

block head
	link(rel="stylesheet", href="styles/style.css")

block content
	#playerContainer= movieId
		object#player(type="application/x-shockwave-flash", name="Player", align="middle", data="./scripts/Player.swf", width="100%", height="100%")
			param(name="quality", value="high")
			param(name="bgcolor", value="#000000")
			param(name="allowscriptaccess", value="always")
			param(name="allowfullscreen", value="true")
			param(name="scale", value="noscale")
			param(name="wmode", value="opaque")
