extends layout

block head
	link(rel="stylesheet", href="styles/style.css")
	link(rel="stylesheet", href="styles/player.css")

block content
	iframe#playerContainer(src='http://e2r4p4.42.fr:8080/player/?#{id}', frameborder="0", style="overflow:hidden;height:100%;width:100%", height="100%", width="100%")
