extends layout

block head
	link(rel="stylesheet", href="styles/style.css")
	link(rel="stylesheet", href="styles/player.css")

block content
	iframe#playerContainer(src='guest.mantikgames.com/?#{id}')
