extends layout

block head
	link(rel="stylesheet", href="styles/style.css")
	link(rel="stylesheet", href="styles/player.css")

block content
	iframe#playerContainer(src='http://e2r5p3.42.fr:8080/?#{id}')
