
h1
{
	margin: 20px auto;
	font-size: 2em;
}

ul#moviesContainer
{
	-webkit-app-region: no-drag;
	min-width: 100%;
	position: absolute;
	top: 10%; left: 0; right: 0; bottom: 0;
	list-style: none;
	text-align: center;
}

ul#moviesContainer li
{
	list-style: none;
	vertical-align: middle;
	position: relative;
	width: 20vw;
	height: 30vw;
	margin: 0 10px 60px 10px;
	padding: 0;
	min-width: 150px;
	max-width: 250px;
	min-height: 225px;
	max-height: 375px;
	display: inline-block;
	cursor: pointer;
}

ul#moviesContainer li h2
{
	color: #fff;
	position: absolute;
	bottom: -25px;
	z-index: 100;
}

ul#moviesContainer li img
{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 80;
	border: 1px solid;
	border-radius: 5px;
	border-color: #000;
}

ul#moviesContainer .selected:after, ul#moviesContainer li:hover:after
{
	background: rgba(0,0,0,0.4) url(../images/eye.png) no-repeat center center;
	content: "";
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	clear: both;
}
