body
{
	overflow:hidden;
}

#playerContainer
{
	position: absolute;
/*	z-index: 1;
	/*border: 4px;*/
/*	margin:0;
	padding: 0;
	top: 0px;
	left: 0px;*/
	/*bottom: 0px;*/
	/*right: 0px;*/
	/*width: 100%;*/
}
